.profile-container {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    max-width: 800px;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.profile-icon {
    font-size: 50px;
    margin-right: 10px;
}

.profile-header h2 {
    font-size: 24px;
    font-weight: bold;
    color: #911e31; 
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.profile-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-item label {
    font-weight: bold;
    color: #333;
    font-size: 18px;
    margin-right: 15px; 
}

.profile-item span {
    font-size: 18px;
    color: #555;
    width: 60%; 
    padding: 8px;
    text-align: left;
}

.profile-item input {
    width: 60%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f8f9fa; 
}

.profile-item input:focus {
    border-color: #911e31; 
    outline: none;
    background-color: #ffffff;
}

.edit-button {
    background-color: #911e31;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 20px;
}

.edit-button:hover {
    background-color: #7d1631;
}

.profile-item span, .profile-item input {
    display: inline-block;
    vertical-align: middle;  
}
