#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container-cart-products {
	position: absolute;
	top: 50px;
	right: 0;
    opacity: 0.8;
	background-color: #fff;
	width: 400px;
	z-index: 1;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	color: #f0ecec;
}

.cart-product {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px;

	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	color: #000000;
}

.info-cart-product {
	display: flex;
	justify-content: space-between;
	flex: 0.8;
	color: #000;
}

.titulo-producto-carrito {
	font-size: 20px;
	color: #000;
	font-size: 15px;
	font-family: sans-serif;
}

.precio-producto-carrito {
	font-weight: 700;
	font-size: 20px;
	margin-left: 10px;
	color: #000;
	font-size: 15px;
}

.cantidad-producto-carrito {
	font-weight: 400;
	font-size: 20px;
	color: #000;
	font-size: 20px;
}

.icon-close {
	width: 25px;
	height: 25px;
	color: #000;
}

.icon-close:hover {
	stroke: red;
	cursor: pointer;
	color: #000;
}

.cart-total {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
	gap: 20px;
	color: #000;
	font-size: 15px;
}

.cart-total h3 {
	font-size: 20px;
	font-weight: 700;
	color: #000;
	font-size: 15px;
}

.total-pagar {
	font-size: 15px;
	font-weight: 900;
	color: #000;
	
}

.hidden-cart {
	display: none;
	color: #000;
}


